<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>问答历史记录 - 基于Neo4j的中文智能问答系统</title>
    <!-- 引入Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 引入jQuery和Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">问答历史记录</h1>
        <a href="/" class="btn btn-secondary mb-4">返回主页</a>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">问题</th>
                    <th scope="col">答案</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
